:root
{
	--color1: rgba(255,250,245,.85); /* .jumbotron, .footerPermanent, .biography, article.post, .pagination */
	--color2: rgba(215,189,218,.35); /* global */
	--color3: rgba(144,111,169,1); /* .postFooter */
}

/* Pour pouvoir utiliser une hauteur (height) ou une hauteur minimale
   (min-height) sur un bloc, il faut que son parent direct ait lui-même une
   hauteur déterminée (donc toute valeur de height sauf "auto": hauteur en
   pixels, em, autres unités...).
   Si la hauteur du parent est en pourcentage, elle se réfère alors à la
   hauteur du «grand-père», et ainsi de suite.
   Pour pouvoir utiliser un "min-height: 100%" sur div#global, il nous faut:
   - un parent (body) en "height: 100%";
   - le parent de body également en "height: 100%". */

body
{
	padding: none;
	color:#bfbfbf;	
	font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
	background-color: black;
	background-attachment: fixed;
	overflow-x: hidden;
}

.container
{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

body.bg1
{ background-image: url('Images/bg/bg2.jpg'); }

body.bg2
{ background-image: url('Images/bg/bg2.jpg'); }

body.bg3
{ background-image: url('Images/bg/bg3.jpg'); }

.permanent
{
	width: 100%;
	position: fixed;
	z-index: 1;
}
header.permanent
{
	color: black;
	background-color: var(--color1);
	height: 90px;
	top: 0px;
	box-shadow: 0px 3px 7px #454545;
}
footer.permanent
{
	color: black;
	background-color: var(--color1);
	height: 50px;
	bottom: 0px;
	box-shadow: 0px -3px 7px #454545;
}

h1
{ color: white; }

article.post
{ background-color: var(--color1); }

#leftContent
{}


#rightContent
{ height: 100%; }
.biography.affix
{
	top: 110px;
	bottom: 200px;
}
.biography
{
	color: black;
	background-color: var(--color1);
	height: 730px;
	width: 460px;
}
.livre
{ margin-right: 10px; }
.photoJean
{ transform: rotate(3deg) scale(1) skew(1deg) translate(0px); }
.photoLivre
{ transform: rotate(-3deg) scale(1) skew(1deg) translate(0px); }

.blogTitle
{
	margin-top:  0px;
	margin-bottom: 0px;
	font-size: 40px;
}

.pagination
{
	font-size: 25px;
	width: 36px;
	background-color: var(--color1);
	border-radius: 9px;
}
.pTop
{ margin-bottom: -100px; }
.pBottom
{ margin-top: -100px; }
.post
{ margin: 45px 0 45px 0; }
.postTitle
{
	margin-bottom: 0px;
	height: 100px;
	background-color: rgb(44,106,165);
}
.postLink
{
	margin: 0 0 0 20px;
	text-shadow:0 5px 7px #010101;
}
.homeContent
{
	min-height: 0px;
	max-height: 150px;
	overflow-y: hidden;
}
.postContent
{
	color: black;
	margin: 10px;
}
.postFooter
{
	background-color: var(--color3);
	height: 50px;
}
.postFooterText
{
	color: white;
	margin-left: 10px;
}

.comments
{
	background-color: rgba(144,111,169,1);
	margin: 45px 0 45px 0;
}
.commentsContent
{ margin: 10px; }
.commHeader
{
	margin-top: 10px;
	margin-bottom: 10px;
}
.comment
{
	background-color: rgba(126,111,218,.5);
	color: white;
}
.commFooter
{
	color: black;
	margin-bottom: 10px;
}

.horizontalAlignCenter
{ text-align: center; }

.verticalAlignCenter
{
	display: flex; /* contexte sur le parent */
  	flex-direction: column; /* direction d'affichage verticale */
  	justify-content: center; /* alignement vertical */
}

.shadow
{ box-shadow: 0px 5px 7px #212121; }

#global
{
	min-height: 100%; /* Voir commentaire sur html et body plus haut */
	width: 100%;
	text-align: justify;
	background-color: var(--color2);
}

#content
{
	margin-top: 110px;
	margin-bottom: 70px;
}

#responsesTitle
{
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#txtComment
{ width: 50%; }