<?php header("Content-type: text/css; charset: UTF-8"); ?>

<?php
	$bg = array('bg1.jpg', 'bg2.jpg', 'bg3.jpg'); // array of filenames
  	$i = rand(0, count($bg)-1); // generate random number size of the array
  	$selectedBg = 'Content/Images/bg/'.$bg[$i]; // set variable equal to which random filename was chosen

  	if(file_exists($selectedBg)) $background = 'background: url('.$selectedBg.') no-repeat fixed';
	else $background = 'black';
?>

:root
{
	--color1: rgba(255,250,245,.85); /* .jumbotron, .footerPermanent, .biography, article.post, .pagination */
	--color2: rgba(215,189,218,.35); /* global */
	--color3: rgba(144,111,169,1); /* .postFooter */
}

/* Pour pouvoir utiliser une hauteur (height) ou une hauteur minimale
   (min-height) sur un bloc, il faut que son parent direct ait lui-même une
   hauteur déterminée (donc toute valeur de height sauf "auto": hauteur en
   pixels, em, autres unités...).
   Si la hauteur du parent est en pourcentage, elle se réfère alors à la
   hauteur du «grand-père», et ainsi de suite.
   Pour pouvoir utiliser un "min-height: 100%" sur div#global, il nous faut:
   - un parent (body) en "height: 100%";
   - le parent de body également en "height: 100%". */

html, body
{
	height: 100%;
	overflow: hidden;
}

body
{
	padding: none;
	color:#bfbfbf;
	background: <?= $background ?>;
	font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

header
{ display: block; }

footer.permanent
{
	color: black;
	background-color: var(--color1);
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 0px;
	box-shadow: 0px -3px 7px #454545;
}

h1
{ color: white; }

article.post
{
	background-color: var(--color1);
}

.container
{
	height: 100%;
	width: 100%;
}

#leftContent
{
	position: absolute;
  	top: 120px;
  	bottom: 75px;
  	left: 0;
  	width: 66%;
  	overflow-y: scroll;
}


#rightContent
{
	
	position: absolute;
  	top: 120px;
  	bottom: 75px;
  	right: 0;
  	width: 34%;
}
.biography
{
	color: black;
	background-color: var(--color1);
	height: 100%;
}
.livre
{ margin-right: 10px; }
.photoJean
{ transform: rotate(3deg) scale(1) skew(1deg) translate(0px); }
.photoLivre
{ transform: rotate(-3deg) scale(1) skew(1deg) translate(0px); }
.jumbotron
{
	height: 70px;
	background-color: var(--color1);
	box-shadow: 0px 3px 7px #454545;
}

.blogTitle
{
	margin-top:  0px;
	margin-bottom: 0px;
	font-size: 40px;
}

.pagination
{
	font-size: 25px;
	width: 36px;
	background-color: var(--color1);
	border-radius: 9px;
}
.pTop
{ margin-bottom: -100px; }
.pBottom
{ margin-top: -100px; }
.post
{ margin: 45px 0 45px 0; }
.postTitle
{
	margin-bottom: 0px;
	height: 100px;
}
.postLink
{
	margin: 0 0 0 20px;
	text-shadow:0 5px 7px #010101;
}
.homeContent
{
	min-height: 0px;
	max-height: 150px;
	overflow-y: hidden;
}
.postContent
{
	color: black;
	margin: 10px;
}
.postFooter
{
	background-color: var(--color3);
	height: 50px;
}
.postFooterText
{
	color: white;
	margin-left: 10px;
}

.comments
{
	background-color: rgba(144,111,169,1);
	margin: 45px 0 45px 0;
}
.commentsContent
{ margin: 10px; }
.commHeader
{
	margin-top: 10px;
	margin-bottom: 10px;
}
.comment
{
	background-color: rgba(126,111,218,.5);
	color: white;
}
.commFooter
{
	color: black;
	margin-bottom: 10px;
}



.horizontalAlignCenter
{ text-align: center; }

.verticalAlignCenter
{
	display: flex; /* contexte sur le parent */
  	flex-direction: column; /* direction d'affichage verticale */
  	justify-content: center; /* alignement vertical */
}

.shadow
{ box-shadow: 0px 5px 7px #212121; }

#global
{
	min-height: 100%; /* Voir commentaire sur html et body plus haut */
	width: 100%;
	text-align: justify;
	background-color: var(--color2);
}

#content
{ margin-bottom: 30px; }

#responsesTitle
{
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#txtComment
{ width: 50%; }