<?php header("Content-type: text/css; charset: UTF-8"); ?>

<?php
	$bg = array('bg1.jpg', 'bg2.jpg', 'bg3.jpg'); // array of filenames
  	$i = rand(0, count($bg)-1); // generate random number size of the array
  	$selectedBg = 'Content/Images/bg/'.$bg[$i]; // set variable equal to which random filename was chosen

  	if(file_exists($selectedBg)) $background = 'background: url('.$selectedBg.') no-repeat fixed';
	else $background = 'black';
?>

/* Pour pouvoir utiliser une hauteur (height) ou une hauteur minimale
   (min-height) sur un bloc, il faut que son parent direct ait lui-même une
   hauteur déterminée (donc toute valeur de height sauf "auto": hauteur en
   pixels, em, autres unités...).
   Si la hauteur du parent est en pourcentage, elle se réfère alors à la
   hauteur du «grand-père», et ainsi de suite.
   Pour pouvoir utiliser un "min-height: 100%" sur div#global, il nous faut:
   - un parent (body) en "height: 100%";
   - le parent de body également en "height: 100%". */

html, body
{
	height: 100%;
	overflow: hidden;
}

body
{
	padding: none;
	color:#bfbfbf;
	background: <?= $background ?>;
	font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

header
{ display: block; }

footer.permanent
{
	display: flex; /* contexte sur le parent */
  	flex-direction: column; /* direction d'affichage verticale */
  	justify-content: center; /* alignement vertical */
	color: black;
	background-color: rgba(255,255,255,.85);
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 0px;
}

h1
{ color: white; }

article.post
{
	background-color: rgba(255,255,255,.85);
}

.container
{
	height: 100%;
	width: 100%;
}

#leftContent
{
	
	position: absolute;
  	top: 120px;
  	bottom: 75px;
  	left: 0;
  	width: 66%;
  	overflow-y: scroll;
}


#rightContent
{
	
	position: absolute;
  	top: 120px;
  	bottom: 75px;
  	right: 0;
  	width: 34%;
}
.biography
{
	color: black;
	background-color: rgba(255,255,255,.85);
	height: 100%;
}
.jumbotron
{
	height: 70px;
	background-color: rgba(255,255,255,.85);
	display: flex; /* contexte sur le parent */
  	flex-direction: column; /* direction d'affichage verticale */
  	justify-content: center; /* alignement vertical */
}

.blogTitle
{
	margin-top:  0px;
	margin-bottom: 0px;
	font-size: 40px;
}

.pagination
{
	font-size: 25px;
}
.postTitle
{ margin-bottom: 0px; }
.postContent
{
	color: black;
	background-color: rgba(0,50,200,.85);
}
.postDate
{ background-color: rgba(0,0,200,.85); }

.horizontalAlignCenter
{ text-align: center; }

#global
{
	min-height: 100%; /* Voir commentaire sur html et body plus haut */
	width: 100%;
	text-align: justify;
}

#content
{ margin-bottom: 30px; }

#responsesTitle
{ font-size: 100%; }

#txtComment
{ width: 50%; }